@model IEnumerable<Bug_Tracker.Models.ApplicationUser>
@{

    ViewBag.Title = "Index";
    var roleHelper = new Bug_Tracker.Helpers.RoleHelper();
    Bug_Tracker.Models.ApplicationDbContext db = new Bug_Tracker.Models.ApplicationDbContext();
}
<style>
    .dataTables_length {
        width: 50%;
        margin-bottom: -30px
    }
</style>
<div class="container" style="padding-top:1rem">
    <div class="small-box" style="padding:3rem; background-color:#343a40; color:white">
        <div class="row">
            <div class="col">
                <h1 style="margin-bottom:2rem">@Html.Display("Role")<span>s</span></h1>
                <table class="table dataTable" id="thisone">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Name")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayName("Projects")
                            </th>
                            <th>
                                @Html.DisplayName("Role")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <tr style="cursor:pointer" onclick="location.href = '@Url.Action("Index", "Account", new { userid = user.Id })'">
                                    <td>
                                        <div><img src="@user.AvatarPath" class="img-circle" width="30" /> @Html.DisplayFor(modelItem => user.FullName)</div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.Email)
                                    </td>
                                    @if (roleHelper.IsUserInRole(user.Id, "Admin"))
                                    {
                                        <td>
                                            @db.Projects.Count()
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @user.Projects.Count()
                                        </td>
                                    }
                                    @if (@roleHelper.ListUserRoles(user.Id).FirstOrDefault() == "ProjectManager")
                                    {
                                        <td>
                                            Project Manager
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @roleHelper.ListUserRoles(user.Id).FirstOrDefault()
                                        </td>
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <div><img src="@user.AvatarPath" class="img-circle" width="30" /> @Html.DisplayFor(modelItem => user.FullName)</div>
                                    </td>
                                    <td>
                                        <a href="mailto:@user.Email">@user.Email</a>
                                    </td>
                                    @if (roleHelper.IsUserInRole(user.Id, "Admin"))
                                    {
                                        <td>
                                            @db.Projects.Count()
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @user.Projects.Count()
                                        </td>
                                    }
                                    @if (@roleHelper.ListUserRoles(user.Id).FirstOrDefault() == "ProjectManager")
                                    {
                                        <td>
                                            Project Manager
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @roleHelper.ListUserRoles(user.Id).FirstOrDefault()
                                        </td>
                                    }
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#thisone').DataTable();
        });

    </script>
}
