@model IEnumerable<Bug_Tracker.Models.ApplicationUser>
@{
    
    ViewBag.Title = "Index";
    var roleHelper = new Bug_Tracker.Helpers.RoleHelper();
}
<style>
    .dataTables_length {
        width: 50%;
        margin-bottom: -30px
    }
    #thisone_paginate {
        margin-top: -25px;
        cursor:pointer
    }
</style>
<div class="container" style="padding-top:3rem">
    <div class="small-box" style="padding:3rem; background-color:#343a40; color:white">
        <div class="row">
            <div class="col">
                <h1>@Html.Display("Role")<span>s</span></h1>
                <table class="table dataTable" id="thisone">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Name")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayName("Projects")
                            </th>
                            <th>
                                @Html.DisplayName("Role")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <tr style="cursor:pointer" onclick="location.href = '@Url.Action("Index", "Account", new { userid = user.Id })'">
                                    <td>
                                        <div>@Html.DisplayFor(modelItem => user.FullName)</div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.Email)
                                    </td>
                                    <td>
                                        @user.Projects.Count()
                                    </td>
                                    <td>
                                        @roleHelper.ListUserRoles(user.Id).FirstOrDefault()
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <div>@Html.DisplayFor(modelItem => user.FullName)</div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.Email)
                                    </td>
                                    <td>
                                        @user.Projects.Count()
                                    </td>
                                    <td>
                                        @roleHelper.ListUserRoles(user.Id).FirstOrDefault()
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#thisone').DataTable();
        });

    </script>
}
