@model Bug_Tracker.Models.CustomExternalRegister
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bug Tracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" src="~/Images/icons/favicon.ico" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/util.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(/Images/BG.jpg);">
                    <h2 style="color:white">@ViewBag.LoginProvider Login</h2>
                </div>

                @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p class="text-info" style="margin-top:-0.5rem; margin-bottom:1rem; color:cornflowerblue!important">
                        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                    </p>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Name is required">
                        <span class="label-input100">First Name</span>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "input100" })
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Name is required">
                        <span class="label-input100">Last Name</span>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "input100" })
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                        <span class="label-input100">Email</span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "input100" })
                        <span class="focus-input100"></span>
                    </div>
                    <div class="row" style="margin-bottom:5rem">
                        <div class="col-sm-6" style="padding-top:1.5rem">
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" type="submit" style="background-color:cornflowerblue;font-weight:bold">
                                    Register
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/main.js"></script>
</body>
</html>


