@using Bug_Tracker.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bug Tracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" src="~/Images/icons/favicon.ico" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/util.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="modal fade ct" id="zmodal" style="margin-top:6.5rem">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content" style="background-color: rgba(52, 58, 64, 0.98); color:white">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h1 style="margin-top:4rem">Demo Login</h1>
                                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken();
                                        @Html.Hidden("emailKey", "DemoDev1Email");
                                        <div style="margin-top:2rem">
                                            <button type="submit" class="btn btn-flat" style="color:white; background-color:cornflowerblue"><h2><i class="fa fa-address-card-o"></i> Admin</h2></button>
                                        </div>
                                    }
                                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken();
                                        @Html.Hidden("emailKey", "DemoDev2Email");
                                        <div style="margin-top:2rem">
                                            <button type="submit" class="btn btn-flat" style="color:white; background-color:#ffc107"><h2><i class="fa fa-users"></i> Manager</h2></button>
                                        </div>
                                    }
                                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken();
                                        @Html.Hidden("emailKey", "DemoDev3Email");
                                        <div style="margin-top:2rem">
                                            <button type="submit" class="btn btn-flat" style="color:white; background-color:#c6371c"><h2><i class="fa fa-usb"></i> Developer</h2></button>
                                        </div>
                                    }
                                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken();
                                        @Html.Hidden("emailKey", "DemoDev4Email");
                                        <div style="margin-top:2rem; margin-bottom:4rem">
                                            <button type="submit" class="btn btn-flat" style="color:white; background-color:forestgreen"><h2><i class="fa fa-envelope"></i> Submitter</h2></button>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="modal fade ct" id="kmodal">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content" style="background-color: rgba(52, 58, 64, 0.98); color:white">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h1>3rd Party Login</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(/Images/BG.jpg);">
                    <span class="login100-form-title-1">
                        Sign In
                    </span>
                </div>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login100-form validate-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Email</span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "input100" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        @Html.PasswordFor(m => m.Password, new { @class = "input100" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a href="@Url.Action("ForgotPassword","Account")" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" type="submit" style="background-color:cornflowerblue;font-weight:bold">
                                    Log In
                                </button>
                            </div>
                        </div>

                        <div class="col-4" style="right:20px">
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn float-lg-right" type="button" data-toggle="modal" data-target="#kmodal" style="background-color:#9e5ed6; right:40px !important;font-weight:bold;">
                                    3rd Party Login
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:1.5rem">
                        <div class="col-8">
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" type="button" data-toggle="modal" data-target="#zmodal" style="background-color:#c6371c;font-weight:bold">
                                    Demo Login
                                </button>
                            </div>
                        </div>

                        <div class="col-4" style="right:20px;">
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn float-lg-right" type="button" style="background-color:forestgreen; right:40px !important;font-weight:bold" onclick="window.location.href='@Url.Action("Register","Account")'">
                                    Sign Up
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/main.js"></script>

</body>
</html>
