@model Bug_Tracker.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    var userHelper = new Bug_Tracker.Helpers.UserHelper();
}

<style>
    a {
        color: cornflowerblue
    }
</style>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div class="row">
        <div class="col-12">
            <div class="small-box " style="background-color:#343a40; color:white; width:50%; padding:20px">
                <h3>Password</h3>
                <h3>
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                </h3><hr />
                <div class="row">
                    <div class="col">
                        <h3>
                            Profile Picture
                        </h3>
                        <h3>
                            <img src="@userHelper.GetAvatarPath()" width="200" />
                        </h3>
                    </div>
                    <div class="col-6">
                        @using (Html.BeginForm("ChangeAvatar", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="row" style="margin-top:0.5rem">
                                <h4>Update Profile Picture</h4>
                            </div>
                            <div class="row" style="margin-top:4rem">
                                <input type="file" name="file" id="file" />
                            </div>
                            <div class="row" style="margin-top:4rem">
                                <input type="submit" value="Update Picture" class="btn-sm float-right" style="width:70%; height:30px; background-color:cornflowerblue; color:white" />
                            </div>


                        }
                    </div>
                </div>


                <div>
                    @*
                        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                         Uncomment the following block after you have set up two-factor authentication
                    *@
                    @*
                        <dt>Phone Number:</dt>
                        <dd>
                            @(Model.PhoneNumber ?? "None")
                            @if (Model.PhoneNumber != null)
                            {
                                <br />
                                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                                }
                            }
                            else
                            {
                                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                            }
                        </dd>
                    *@
                </div>
            </div>
        </div>
    </div>
</div>

