@model Bug_Tracker.Models.Project
@using Bug_Tracker.Helpers
@using Microsoft.AspNet.Identity
@{
    var roleHelper = new RoleHelper();
    var userHelper = new UserHelper();
    var projectHelper = new ProjectHelper();
    ViewBag.Title = "Details";
}



<div>
    <h2 class="topPad">Project Details</h2>
    <hr />
    <div class="row">
        <div class="col-lg-4">
            <div class="small-box bg-success">
                <h1 style="font-size:58px; padding:20px;">@Html.DisplayFor(model => model.Name)</h1>
                @foreach (var user in @projectHelper.ListUsersOnProjectInRole(Model.Id, "ProjectManager"))
                {
                    <h4 style="font-size:28px; padding:20px">Manager: @user.FullName</h4>
                }
                <h5 style="font-size:22px; padding:20px;">@Html.DisplayNameFor(model => model.Created) @Model.Created.ToString("M/dd/yyyy")</h5>
                <h5 style="font-size:22px; padding:20px;">@Model.Tickets.Count() Tickets</h5>
                <div class="row" style="margin:0px; padding-top:1.5em; font-weight:300">
                    <div class="col bg-primary text-center" style="border-radius:2px; cursor:pointer" onclick="window.location.href='@Url.Action("Edit","Projects", new { id = Model.Id })'">
                        <h3 style="font-weight: 400; font-size:30px; padding-top:12px; padding-bottom:5px">Edit</h3>
                    </div>
                    <div class="col bg-gradient-red text-center" style="border-radius:2px; cursor:pointer" onclick="window.location.href='@Url.Action("Delete","Projects", new { id = Model.Id })'">
                        <h3 style="font-weight: 400; font-size:30px; padding-top:12px; padding-bottom:5px">Delete</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="small-box bg-gradient-primary">
                <h1 style="padding:20px; padding-bottom:5px">Project Team</h1><hr />
                <div class="row">
                    <div class="col" style="padding:0px 30px 0px 30px">
                        <table class="table-bordered table bg-transparent">
                            <tr>
                                <th>
                                    <h2>Developers</h2>
                                </th>
                                <th>
                                    <h2>Submitters</h2>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    @foreach (var user in projectHelper.ListUsersOnProjectInRole(Model.Id, "Developer"))
                                    {
                                        <h4>@user.FullName</h4>
                                    }
                                </th>
                                <th>
                                    @foreach (var user in projectHelper.ListUsersOnProjectInRole(Model.Id, "Submitter"))
                                    {
                                        <h4>@user.FullName</h4>
                                    }
                                </th>
                            </tr>
                        </table>
                    </div>
                    

                </div>
                <div class="row" style="margin:0px; padding-top:1.5em; font-weight:300">
                    <div class="col bg-success text-center" style="border-radius:2px; cursor:pointer" onclick="window.location.href='@Url.Action("ManageProjectUsers","Assignments", new { projectId = Model.Id })'">
                        <h3 style="font-weight: 400; font-size:30px; padding-top:12px; padding-bottom:5px">Add</h3>
                    </div>
                    <div class="col bg-gradient-red text-center" style="border-radius:2px; cursor:pointer">
                        <h3 style="font-weight: 400; font-size:30px; padding-top:12px; padding-bottom:5px">Remove</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="small-box bg-gradient-gray" style="padding:10px">
                <div class="row">
                    <h1 style="padding:20px; padding-bottom:5px">Tickets</h1><hr />
                    <h2 class="float-right" style="padding:20px; padding-bottom:30px; margin-top:8px; cursor:pointer" onclick="window.location.href='@Url.Action("Create","Tickets", new { projectId = Model.Id })'"><i class="fa fa-edit" style="font-size:30px"> </i> New Ticket</h2>
                </div>
                <div style="padding:0px 10px 5px 10px;">
                    <table class="table-bordered table bg-transparent">
                        <tr style="font-size:22px; font-weight:500;">
                            @if (User.IsInRole("ProjectManager") && projectHelper.IsUserOnProject(User.Identity.GetUserId(), Model.Id))
                            {
                                <th>
                                    Edit
                                </th>
                            }

                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Developer
                            </th>
                            <th>
                                Priority
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                        @foreach (var ticket in Model.Tickets)
                        {
                            <tr style="font-size:18px">
                                @if (User.IsInRole("ProjectManager") && projectHelper.IsUserOnProject(User.Identity.GetUserId(), Model.Id))
                                {
                                    <th style="cursor:pointer" onclick="window.location.href='@Url.Action("Edit","Tickets", new {ticket.Id })'">
                                        <a>Edit</a>
                                    </th>
                                }
                                <th style="cursor:pointer" onclick="window.location.href='@Url.Action("Details","Tickets", new {ticket.Id })'">
                                    @ticket.Title
                                </th>
                                <th style="cursor:pointer" onclick="window.location.href='@Url.Action("Details","Tickets", new {ticket.Id })'">
                                    @ticket.Description
                                </th>
                                @if (ticket.Developer == null)
                                {
                                    <th>
                                        No Developer
                                    </th>
                                }
                                else
                                {
                                    <th>
                                        @ticket.Developer.FullName
                                    </th>
                                }

                                <th>
                                    @ticket.TicketPriority.Name
                                </th>
                                <th>
                                    @ticket.TicketType.Name
                                </th>
                                <th>
                                    @ticket.TicketStatus.Name
                                </th>

                            </tr>

                        }



                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

