@model Bug_Tracker.ViewModels.TicketCreation
@using Bug_Tracker.Helpers
@using Microsoft.AspNet.Identity
@{
    var roleHelper = new RoleHelper();
    var userHelper = new UserHelper();
    var projectHelper = new ProjectHelper();
    ViewBag.Title = "Details";
}

<style>
    .margPad {
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 3px;
    }

    .topPad {
        padding-left: 10px
    }

    #ticket_Description {
        width: 100%;
        height: 10em
    }

    .formPad {
        padding-top: 2em
    }

    .dataTables_length {
        width: 50%;
        margin-bottom: -30px
    }
</style>

<div>
    <h1 class="topPad">Project Details</h1>
    <hr />
    <div class="row">
        <div class="col-lg-4">
            <div class="small-box" style="background-color:forestgreen; color:white">
                <h1 style="font-size:58px; padding:20px; padding-bottom:0">@Html.DisplayFor(model => model.project.Name)</h1>
                @foreach (var user in @projectHelper.ListUsersOnProjectInRole(Model.project.Id, "ProjectManager"))
                {

                    <h4 style="font-size:38px; padding:20px; cursor:pointer; margin-top:2rem" @*onclick="window.location.href='@Url.Action("Index","Account", new { userId = user.Id })'"*@>
                        <span style=" border-bottom: solid; border-bottom:1px solid white">Manager</span>
                    </h4>
                    <span style="font-size:28px; padding:20px"><img src="@user.AvatarPath" class="img-circle" width="50" /> @user.FullName</span>

                }
                <div class="row" style="margin-top:4rem">
                    <div class="col text-center">
                        <h5 style="font-size:22px; padding:20px; padding-bottom:15px;">@Model.project.Created.ToString("M/dd/yyyy")</h5>
                    </div>
                    <div class="col text-center" style="border-left: 1px solid white">
                        <h5 style="font-size:22px; padding:20px; padding-bottom:15px;">@Model.project.Tickets.Count() Tickets</h5>
                    </div>
                </div>
                            
                @if (User.IsInRole("Admin"))
                {
                    <div class="row" style="margin:0px; font-weight:300">
                        <div class="col bg text-center" style="background-color:cornflowerblue;color:white;border-radius:2px; cursor:pointer" onclick="window.location.href='@Url.Action("Edit", "Projects", new { id = Model.project.Id })'">
                            <h3 style="font-weight: 400; font-size:30px; padding-top:12px; padding-bottom:5px">Edit</h3>
                        </div>
                        <div class="col bg-gradient-red text-center" style="border-radius:2px; cursor:pointer" onclick="window.location.href='@Url.Action("Delete", "Projects", new { id = Model.project.Id })'">
                            <h3 style="font-weight: 400; font-size:30px; padding-top:12px; padding-bottom:5px">Delete</h3>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-8">
            <div class="small-box" style="background-color:cornflowerblue; color:white">
                <h1 style="padding:20px; padding-bottom:5px">Project Team</h1><hr />
                <div class="row">
                    <div class="col" style="padding:0px 30px 0px 30px">
                        <table class="table-bordered table bg-transparent">
                            <tr>
                                <th>
                                    <h2>Developers</h2>
                                </th>
                                <th>
                                    <h2>Submitters</h2>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    @foreach (var user in projectHelper.ListUsersOnProjectInRole(Model.project.Id, "Developer"))
                                    {
                                        <div style="cursor:pointer;" @*onclick="window.location.href='@Url.Action("Index","Account", new { userid = user.Id })'"*@>
                                            <h4><img src="@user.AvatarPath" class="img-circle" width="30" />  @user.FullName</h4>
                                        </div>
                                    }
                                </th>
                                <th>
                                    @foreach (var user in projectHelper.ListUsersOnProjectInRole(Model.project.Id, "Submitter"))
                                    {
                                        <div style="cursor:pointer;" @*onclick="window.location.href='@Url.Action("Index","Account", new { userid = user.Id })'"*@>
                                            <h4><img src="@user.AvatarPath" class="img-circle" width="30" />  @user.FullName</h4>
                                        </div>
                                    }
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="row" style="margin:0px; padding-top:1.5em; font-weight:300">
                        <div class="col bg text-center" style="color:white;background-color:forestgreen;border-radius:2px; cursor:pointer" onclick="window.location.href='@Url.Action("ManageProjectUsers","Assignments", new { projectId = Model.project.Id })'">
                            <h3 style="font-weight: 400; font-size:30px; padding-top:12px; padding-bottom:5px">Add</h3>
                        </div>
                        <div class="col bg-gradient-red text-center" style="border-radius:2px; cursor:pointer" onclick="window.location.href='@Url.Action("RemoveProjectUsers","Assignments", new { projectId = Model.project.Id })'">
                            <h3 style="font-weight: 400; font-size:30px; padding-top:12px; padding-bottom:5px">Remove</h3>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="small-box" style="padding:10px; background-color:#343a40; color:white">
                <div class="row">
                    <h1 style="padding: 20px; padding-bottom: 30px; margin-top: 8px;">Tickets</h1><hr />
                    @if (User.IsInRole("Admin") || User.IsInRole("Submitter") && projectHelper.IsUserOnProject(User.Identity.GetUserId(), Model.project.Id))
                    {
                        <h2 class="float-right ct" style="padding:20px; margin-bottom:30px; margin-top:8px; cursor:pointer" data-toggle="modal" data-target="#tmodal" @*onclick="window.location.href='@Url.Action("Create","Tickets", new { projectId = Model.Id })'"*@><i class="fa fa-edit" style="font-size:30px"> </i> New Ticket</h2>
                    }
                </div>
                <div style="padding:0px 10px 5px 10px;">
                    <table id="table_id" class="table-bordered table bg-transparent dataTable">
                        <thead>
                            <tr style="font-size:22px; font-weight:500;">
                                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") && projectHelper.IsUserOnProject(User.Identity.GetUserId(), Model.project.Id))
                                {
                                    <th>
                                        Edit
                                    </th>
                                }
                                <th style="width:12em">
                                    Issue
                                </th>
                                <th style="width:25em">
                                    Description
                                </th>
                                <th style="width:7em">
                                    Developer
                                </th>
                                <th style="width:7em">
                                    Priority
                                </th>
                                <th style="width:7em">
                                    Type
                                </th>
                                <th style="width:5em">
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.project.Tickets)
                            {
                                <tr style="font-size:18px">
                                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") && projectHelper.IsUserOnProject(User.Identity.GetUserId(), Model.project.Id))
                                    {
                                        <td style="cursor:pointer" onclick="window.location.href='@Url.Action("Edit","Tickets", new {ticket.Id })'">
                                            <a>Edit</a>
                                        </td>
                                    }
                                    <td style="cursor:pointer" onclick="window.location.href='@Url.Action("Details","Tickets", new {ticket.Id })'">
                                        @ticket.Title
                                    </td>
                                    <td style="cursor:pointer" onclick="window.location.href='@Url.Action("Details","Tickets", new {ticket.Id })'">
                                        @ticket.Description
                                    </td>
                                    @if (ticket.Developer == null)
                                    {
                                        <td>
                                            No Developer
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="cursor:pointer" @*onclick="window.location.href='@Url.Action("Index","Account", new {userid = ticket.DeveloperId})'"*@>
                                            @ticket.Developer.FullName
                                        </td>
                                    }

                                    <td class="text-center">
                                        @if (ticket.TicketPriority.Name == "URGENT")
                                        {
                                            <span class=" margPad bg-red">URGENT</span>
                                        }
                                        @if (ticket.TicketPriority.Name == "Low")
                                        {
                                            <span class="margPad bg-gradient-green">Low </span>
                                        }
                                        @if (ticket.TicketPriority.Name == "Medium")
                                        {
                                            <span class="margPad bg-gradient-yellow">Medium</span>
                                        }
                                        @if (ticket.TicketPriority.Name == "High")
                                        {
                                            <span class="margPad" style="background-color:#a10000; color:white">High </span>
                                        }
                                        @if (ticket.TicketPriority.Name == "On Hold")
                                        {
                                            <span class=" margPad">On Hold</span>
                                        }
                                    </td>
                                    <td>
                                        @ticket.TicketType.Name
                                    </td>
                                    <td>
                                        @ticket.TicketStatus.Name
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="tmodal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="background-color: rgba(52, 58, 64, 0.98); color:white">
                        <div class="modal-header text-center">
                            <h2 class="modal-title w-100">New Ticket</h2>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("Create", "Tickets", FormMethod.Post, new { @class = "login100-form validate-form", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.Hidden("ProjectId", Model.project.Id)
                                    <div class="container">
                                        <div class="container">

                                            <div class="form-group formPad">
                                                @Html.LabelFor(model => model.ticket.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.ticket.Title, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ticket.Title, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group formPad">
                                                @Html.LabelFor(model => model.ticket.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(model => model.ticket.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ticket.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row formPad">
                                            <div class="form-group col-4" style="font-weight:bold; padding-left:22px">
                                                Priority<br />
                                                @Html.DropDownList("TicketPriorityId")
                                                @Html.ValidationMessageFor(model => model.ticket.TicketPriorityId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group col-4" style="font-weight:bold; padding-left:18px">
                                                Status<br />
                                                @Html.DropDownList("TicketStatusId")
                                                @Html.ValidationMessageFor(model => model.ticket.TicketStatusId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group col-3" style="font-weight:bold">
                                                Type<br />
                                                @Html.DropDownList("TicketTypeId")
                                                @Html.ValidationMessageFor(model => model.ticket.TicketTypeId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group formPad">
                                        <div class="col-12" style="padding-left: 20px">
                                            <input type="submit" value="Create New Ticket" class="btn" style="width:10em; background-color:cornflowerblue; color:white" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
        $(".ct").on("click")
    </script>

}



