@using Microsoft.AspNet.Identity
@using Bug_Tracker.Helpers
@model IEnumerable<Bug_Tracker.Models.Ticket>

@{
    var projectHelper = new ProjectHelper();
    var ticketHelper = new TicketHelper();
    ViewBag.Title = "Index";
}
@if (Model.Count() == 0)
{
    <h2>No projects</h2>
}
else
{
    if (User.IsInRole("Submitter"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    if (User.IsInRole("Developer"))
    {
        <h1>My Tickets</h1>
        <table class="table">
            <tr>
                <th style="width:15em">
                    Issue
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <th style="width:10em">
                    Project
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Status
                </th>
                <th>
                    Type
                </th>
            </tr>
            @foreach (var item in Model.Where(t => t.DeveloperId == User.Identity.GetUserId()))
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                    </td>

                </tr>
            }

        </table>

    }
    if (User.IsInRole("Submitter"))
    {
        <h1>My Tickets</h1>
        <table class="table">
            <tr>
                <th style="width:15em">
                    Issue
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <th style="width:10em">
                    Project
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Status
                </th>
                <th>
                    Type
                </th>
            </tr>
            @foreach (var item in Model.Where(t => t.SubmitterId == User.Identity.GetUserId()))
            {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
            </tr>
            }
        </table>   
    }
    if (User.IsInRole("ProjectManager"))
    {
        <h1>My Tickets</h1>
        <table class="table">
            <tr>
                <th style="width:15em">
                    Issue
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <th style="width:10em">
                    Project
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Status
                </th>
                <th>
                    Type
                </th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
            </tr>
            }
        </table> 
    }
<h1>All tickets</h1>
<table class="table">
    <tr>
        <th style="width:15em">
            Issue
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th style="width:10em">
            Project
        </th>
        <th>
            Priority
        </th>
        <th>
            Status
        </th>
        <th>
            Type
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>

        </tr>
    }

</table>
}
